.footerr{
    position:sticky;
    bottom:0;right:0;left:0;
    background-color: white;
    border-top:#8b8181;
    padding:2.5rem 2rem;
    text-align:center;
    color:black;
    font-size:15px;
    margin-top: 600px;
  
  }